body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  article {
    margin-bottom: 20px;
  }
  
  h2 {
    color: #666;
  }
  
  p {
    line-height: 1.5;
  }
  